.nav {
  position: fixed;
  top: 0;
  height: 30px;
  padding: 20px;

  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index:1;
}

.nav__logo {
  width: 90px;
  position: fixed;
  left: 20px;

  /* height: 90px; */
  object-fit: contain;
}

.nav__avtar {
      position: fixed;
  right: 20px;
  width: 40px;
  /* height: 80px; */
  object-fit: contain;
}

.nav__black{
    background-color: #111;
}