.row{
    color: white;
    margin-left: 20px;
}

.row__posters{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 20px;
}

.row__posters::-webkit-scrollbar{
    display: none;
}

.row__poster{
    width: 100%;
    max-height: 100px;
    object-fit: contain;
    margin-right: 10px;
    transition: transform 450ms;
    cursor: pointer;

}

.row__poster:hover{
    transform: scale(1.09);
}


.row__posterLarge{
    max-height: 250px;
}